<%= @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <div>
        <%= post.date %>
    </div>
    <div>
        <%= truncate(post.body, :length =>500) %>
    </div>
    <div class="btn-group">
	    <%= link_to "Đọc thêm...",  post , class: "btn btn-primary" %>
    </div>
    <hr size ="2px" color = "red" >
<% end %>
