<h1>Nhật kí mới</h1>
<%= form_for @post do |f| %>
    <%= f.label :"Tiêu đề" %><br>
    <%= f.text_field :title %><br>
    <br>
    <%= f.label :"Nội dung nhật ký" %><br>
    <%= f.text_area :body %><br>
    
    <%= f.label :"Ngay" %><br>
    <%= f.text_area :date %><br>
    <br>
    <%= f.submit %>
    <% end %>