<h1> <%= @post.title %></h1>
<div>
    <%= @post.date %>
</div>
<div>
    <%= @post.body %>
</div>
<br>
<% if @post.user == current_user -%>
	<div class="btn-group">
		<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-default" %>
		<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
	</div>
<% end %>

